.projeto{
color: aqua;
text-align: center;
background-color: cadetblue;
padding: 2px;
font-family: monospace;
border-radius: 10px ;
}
.objetivo{
text-align: center;
background-color: cadetblue;






}

