.projeto{
color: aqua;
text-align: center;
background-color: cadetblue;
padding: 2px;
font-family: monospace;
border-radius: 10px ;
}
.objetivo{
text-align: center;
background-color: cadetblue;
}
<style>
  .Explicação {
    padding: 20px;
    border-bottom: 2px solid black; 
  }
body { 
background-color:black;
}
